{% if user is defined %}
    <h4 class="filter__user">Astuces de {{ user.username }}</h4>
{% elseif astucesFavorites is defined %}
    <h4 class="filter__user">Vos astuces favorites</h4>
{% elseif astucesFiltre is defined %}
    <h4 class="filter__user">Astuces <span
                class="small filter__userCategorie">(Catégorie : {{ astucesFiltre.titre }})</span></h4>
{% endif %}
