{% if user is defined %}
    {% if categorie is defined %}
        <h4 class="filter__user">Annonces de {{ user.username }} <span
                    class="small adverts__userCategorie"> (Catégorie : {{ categorie.titre }} )</span>
        </h4>
    {% else %}
        <h4 class="filter__user">Annonces de {{ user.username }}</h4>
    {% endif %}
{% elseif categorieFiltre is defined %}
    <h4 class="filter__user">Annonces <span
                class="small filter__userCategorie"> (Catégorie : {{ categorieFiltre.titre }} )</span>
    </h4>
{% endif %}
