# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: youjobs
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_encryption: ~
    mailer_auth_mode:  ~
    mailer_port:       ~

    # A secret key that's used to generate certain security-related tokens
    secret: YouJobs

    facebook_clientId: ~
    facebook_clientSecret: ~

    user_dir_photos: '%kernel.root_dir%/../web/uploads/user'

    google_api_places_key: ~

    contact_mail: your@email.com
