<p>Pour réinitialiser votre mot de passe YouJobs, veuillez vous rendre <a href="{{ url('reset_password') }}">ici</a> <br/>
et indiquer la chaîne de caractères suivante pour valider l'opération : {{ resetPassword }}
</p>
