.bgcolor-astuces {
    background-color: #8C9EFF;
}

.content__intro {
    background-color: #7986CB;
}

.color-blue--light a {
    color: #C5CAE9;
}

.pagination > .active > span {
    background-color: #7986CB;
    border-color: #7986CB;
}

.astuces-comments__userName {
    color: #000;
}

.astuces__content {
    padding-bottom:10px;
}

.astuces__comments {
    margin-bottom: 10px;
}

.comments > .comments
{
    margin-left:5%;
    margin-top:10px;
}

@media screen and (max-width: 768px) {

    .comments > .comments
    {
        margin-left: 15%;
    }
}
