html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-y: hidden;
}

a {
    color: #fff !important;
    text-decoration: none !important;
}

.header {
    background-color: #3F51B5;
    border-color: #C5CAE9;
}

.color-accent {
    color: #536DFE;
}

.color-blue--light {
    color: #C5CAE9;
}

.color-white {
    color: #fff;
}

.bgcolor-white {
    background-color: #fff !important;
}

.bgcolor-primary {
    background-color: #3F51B5;
}

.bgcolor-accent {
    background-color: #536DFE;
}

.navbar-form__border {
    border-bottom:none;
    box-shadow: none;
}

.navbar-nav>li>a:hover {
    background-color: #C5CAE9 !important;
}
