html {
    min-height: 100%;
    position: relative;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background-color:#7986CB;
    line-height: 50px;
    margin:0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: #3F51B5;
    padding-bottom: 50px;
}

nav a, footer a {
    color: #fff !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    color:#536DFE !important;
}

.header {
    background-color: #303F9F;
    border-color: #fff;
}

.color-accent {
    color: #536DFE;
}

.color-blue--light {
    color: #C5CAE9;
}

.color-white {
    color: #fff;
}

.bgcolor-white {
    background-color: #fff !important;
}

.bgcolor-primary {
    background-color: #3F51B5;
}

.bgcolor-accent {
    background-color: #536DFE;
}

.navbar-form__border {
    border-top:none;
    border-bottom:none;
    box-shadow: none;
}

.navbar-nav>li>a:hover {
    background-color: #C5CAE9 !important;
}

label {
    color:#3F51B5;
}

button, button:hover {
    color:#fff !important;
}

@media screen and (max-width:768px)
{
    footer {
        font-size: 0.7em;
        height:30px;
        padding-top:5px;
        line-height:normal;
    }
}
