html {
    min-height: 100%;
    position: relative;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background-color: #5C6BC0;
    line-height: 50px;
    margin:0;
    font-size:0.8em;
}

.scrollToTop {
    position:absolute;
    bottom:40px;
    text-align: right;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: #3F51B5;
    padding-bottom: 50px;
}

nav a, footer a {
    color: #fff !important;
}

a {
    text-decoration: none !important;
}

nav a:hover {
    color:#536DFE !important;
}

.header {
    background-color: #303F9F;
    border-color: #fff;
}

.bold {
    font-weight: bold;
}

.color-dark {
    color:#1A237E;
}

.color-accent, .color-accent a:hover {
    color: #536DFE !important;
}

.color-blue--light {
    color: #C5CAE9;
}

.color-primary {
    color: #3F51B5;
}

.color-white {
    color: #fff !important;
}

.bgcolor-white {
    background-color: #fff !important;
}

.bgcolor-primary {
    background-color: #3F51B5;
}

.bgcolor-accent, .navbar-default .navbar-nav>.open>a  {
    background-color: #536DFE !important;
}

.bgcolor-dark {
    background-color: #303F9F;
}

.navbar-form__border {
    border-top:none;
    border-bottom:none;
    box-shadow: none;
}

.navbar-nav>li>a:hover {
    color: #C5CAE9 !important;
}

.navbar-default .navbar-toggle {
    border-color:#fff;
}

button, button:hover, .open>a:hover {
    color:#fff !important;
}

.modal-header h4, .modal-header button {
    color: #3F51B5 !important;
}

.modal-body a, .modal-body a:hover {
    color:#fff !important;
}

label {
    color:#3F51B5;
}

.alert-info {
    background-color: #5C6BC0;
    color:#fff;
    border-color: #7986CB;
}

.alert-info a:hover, #adminMenu:hover {
    color:#fff !important;
}

.dropdown-menu li a {
    color:#000 !important;
}

.badge__bgcolorAstuce {
    background-color: #7986CB;
}

.badge__bgcolorAnnonce {
    background-color: #5C6BC0;
}

@media screen and (max-width:768px)
{
    footer {
        font-size: 0.7em;
        height:30px;
        padding-top:10px;
        line-height:normal;
    }

    .dropdown-menu li a, .dropdown-header {
        color:#fff !important;
    }
}
